@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
    --text1: #fefdfb;
    --background1: #181307;
    --primary1: #899dcd;
    --secondary1: #745107;
    --accent1: #3b66c9;
}

*{
    transition: .5s ease-in-out;
}

#bg-img-ctn{
    /* background-image: url("../public/space1md.jpg");
    background-position: center;
    background-size: cover;
    height: 100vh;
    width:100vw; */
}


#body-ctn{
    /* background-color: var(--background1); */
}