@tailwind base;
@tailwind components;
@tailwind utilities;

html{
    scroll-behavior: smooth;
}

:root {
    --text1: #fefdfb;
    --background1: #181307;
    --primary1: #899dcd;
    --secondary1: #745107;
    --accent1: #3b66c9;

}

*{
    transition: .75s ease-in-out;
}





.myText-gradient{
    background: linear-gradient(108deg,#fafafabd,#375cb0ad);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
