@tailwind base;
@tailwind components;
@tailwind utilities;

html{
    scroll-behavior: smooth;
}

:root {
    --text1: #fefdfb;
    --background1: #181307;
    --primary1: #899dcd;
    --secondary1: #745107;
    --accent1: #3b66c9;

}

*{
    transition: .75s ease-in-out;
}
body{

    padding:1rem;
}

video{
    max-width:none;
    max-height: none;
}


#modal-contents iframe{
    min-height: 400px;
    margin: 1rem auto;
}

/* card iframe */
.img-ctn>iframe{
    height: 100%;
    width: 100%;
    margin:0 auto;
}





.myText-gradient{
    background: linear-gradient(108deg,#fafafabd,#375cb0ad);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
